{% load i18n %}
<div id="searchMaps" class="col-sm-6">

      <form action="{% url 'search' %}" method="GET">
      <div class="input-group input-group-lg">
        <input name="q" type="search" class="form-control" placeholder="{% trans 'Search maps' %}" value="{{ q|default:"" }}" />
        <span class="input-group-btn">
          <i class="fa fa-fw fa-search"></i> 
          <input type="submit" value="{% trans 'Search' %}" class="btn btn-default" />
        </span>
      </div>
      </form>

</div>
